{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragraph | Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shotcut icon" href="{% static 'image/justnote.png' %}" sizes="152 x 152">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
</head>

<body>

</body>

</html>
<div id="toolbar">

    <tbody>
        <tr>
            <td><button class="save btn btn-outline-warning my-2 my-sm-0" type="button" name="B1" title="New" onclick="New()">
                            New
                        </button></td>
        </tr>
    </tbody>
</div>
<br>
<form action="{% url 'create' user.id %}" method="POST">
    {% csrf_token %}
    <div>

        <tbody>
            <tr style="display:none">
                <td style="color: aliceblue;">Enter file name:</td>
                <td>
                    <div></div>{{form.title}}
                    <td><input class="btn btn-outline-warning my-2 my-sm-0" type="submit" id="save" name="save" value="Save" style="padding:5px 10px 5px 10px; margin:0px"></td>

            </tr>
        </tbody>
    </div>
    <br>

    <!-- notebox -->
    <div id="editable_text_box">
        {{form.content}}
    </div>
</form>