{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragraph</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shotcut icon" href="{% static 'image/justnote.png' %}" sizes="152 x 152">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="paragraph.css">
</head>

<body style="background-color: #354152;">

    <nav class="navbar navbar-expand-lg  bg-dark ">
        <a class="navbar btn btn-outline-warning my-2 my-sm-0" href="Home.html"> <b>jUSTNOTE</b></a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">



                <li class="nav-item active">
                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href="Howtouse.html">How to Use <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href="About.html">About <span
                            class="sr-only">(current)</span></a>
                </li>
                {% if not request.session.user_flag%}
                <li class="nav-item active">
                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href="{% url 'login' %}">Login <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href="{% url 'signup' %}">Signin <span
                            class="sr-only">(current)</span></a>
                </li>
                {%endif%} {% if request.session.user_flag %}
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle  btn-outline-warning my-2 my-sm-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Types
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item  btn-outline-warning my-2 my-sm-0" href="{% url 'para' user.id %}">Paragraph</a>
                        <a class="dropdown-item  btn-outline-warning my-2 my-sm-0" href="checkbox.html">check box</a>
                        <div class="dropdown-divider "></div>
                    </div>
                </li>

                <li class="nav-item active">

                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href=""> HI, {{user}}! <span
                            class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0 ">
                    <input class="form-control mr-sm-2 btn btn-outline-warning my-2 my-sm-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item active">
                    <a class="nav-link  btn-outline-warning my-2 my-sm-0" href="{% url 'logout' %}">Logout</a> <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>


        </div>

    </nav>

    {% if not lst%}
    <h1>No Note is Created Yet!!!</h1><br>
    <h3>Click New Button To create Your Note.</h3>
    {% endif %}
    <div id="toolbar">

        <tbody>
            <tr>
                <td>
                    <a href="{% url 'create' user.id %}"> <button class="save btn btn-outline-warning my-2 my-sm-0" type="button" name="B1" title="New" onclick="New()">
                            New
                        </button></a>
                </td>
            </tr>
        </tbody>
    </div>
    <br>
    <div class="container ">
        <div class="row ">
            {% for post in lst %}
            <div class="col-sm ">
                <div class='col-sm-6' style="top:10px; ">
                    <div class="card-body btn-outline-warning my-2 my-sm-0">
                        <h5 class="card-title"><a href="">{{post.title}}</h5>
                        <p class="card-text" style=" width: 450px;overflow: hidden;height:100px;">{{post.content}}</p>
                        <a href="#" class="btn btn-outline-primary">View</a>
                            <a href="{% url 'update' post.id %}" class="btn btn-outline-success">UPDATE</a>
                            <a href="{% url 'delete' post.id %}" class="btn btn-outline-danger">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</body>

</html>